body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: steelblue;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: aqua;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.input-group {
    margin-bottom: 100px;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    padding: 5px;
    width: 150px;
    box-sizing: border-box;
}
